@import url('https://fonts.googleapis.com/css?family=Quicksand');

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: 'Quicksand', sans-serif;

}

* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  box-sizing: border-box;
}

.navbar {
  height: 100%;
  /* 100% Full-height */
  width: 0px;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: rgb(52, 52, 52);
  /* Grey*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 20px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

.navbar-nav {
  padding: 0;
}

.nav-item {
  color: white;
  text-align: left;
  list-style: none;
  background: rgb(52, 52, 52);
}

.nav-link {
  margin-bottom: 10px;
  display: block;
  text-decoration: none;
  color: white;
  line-height: 66px;
  padding-left: 20px;
  height: 100%;
  background: rgb(52, 52, 52);
  transition: box-shadow 0.5s, background 0.5s;
}

.nav-link:hover {
  -webkit-box-shadow: 0px 6px 7px -1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 6px 7px -1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 6px 7px -1px rgba(0, 0, 0, 0.6);
  transition: 0.5s ease-in-out;
  background: rgb(181, 36, 168);
}

.close-btn {
  position: absolute;
  background-color: rgb(43, 43, 43);
  width: 100%;
  text-align: center;
  bottom: 0;
}

.close-nav-btn {
  display: inline-block;
  width: 32%;
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 30px;
  cursor: pointer;
  line-height: 66px;
  transition: background 0.5s;
}

.close-nav-btn:hover {
  background: rgb(181, 36, 168);
  transition: ease 0.5s;
}

.open-nav-btn {
  border-radius: 12px;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(20px, 20px);
  cursor: pointer;
  line-height: 60px;
  width: 60px;
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: -1px -1px 4px 0px rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.5s, transform 0.5s;
}

.open-nav-btn:hover {
  background: rgb(181, 36, 168);
  transition: ease 0.5s;
  transform: translate(22px, 22px);
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.6);
  box-shadow: -3px -3px 8px 0px rgba(0, 0, 0, 0.6);
}

/* ################### Home Styles ################### */
.home{
  height:;
}

.container {
  width: 1150px;
  margin: auto;
  padding: 5px;
  overflow: auto;
}

.top-margin{
  margin-top: 75px;
  margin-bottom: 75px
}

.title{
  font-weight: bold;
  text-align: center;
  font-size: 48px;
  margin: 10px 0px;
}

.subtitle{
  text-align: center;
  font-weight: normal;
  margin: 10px 0px;
}



/* ################### Intro Container ################### */

.contact-content{
  padding-top: 75px;
  padding-bottom: 180px;
  color: white;
  height:auto;
  text-align: center;
}

/* ################### Under Intro Skills Box ################### */
.primary-color{
  color: rgb(78, 43, 135);
}

.boxes{
  margin-bottom: 125px;
}

.icon-primary{
  color: rgb(78, 43, 135);
  font-size: 42px;
}

.box-header{
  font-size: 28px;
  font-weight: bold;
  color: rgb(29, 29, 29);
}

.is-overlap{
  margin-top: -100px;
  background: white;
  padding: 0;
  border-radius: 15px;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
  display: flex;
  flex-grow: 1;
}

.box{
  text-align: center;
  background: white;
  width: 33.33%;
  padding: 25px;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
  float: left;


}

.box-list{
  margin: 0;
  padding: 0;
}

.box-desc{
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.box-list, ul{
  list-style: none;
  text-align: center;
}

/* ################### CV Container ################### */

.cv{
  width: 100%;
  height: 80vh;
}

/* ################### Background Container ################### */
.background{
  height: 100vh;
}

.white-text{
  color: white;
}

/* ################### Footer Container ################### */

.footer{

}

.footer-content{
  padding: 10px 0px;
  color: white;
  text-align: left;
}

.footer-text{
  margin: 0;
  padding: 0 25px;
  font-size: 14px;
}

.social-media-link{
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin: 0;
  padding: 0;
  transition: color 0.3s;
}

.social-media-link:hover{
 color: rgb(40,103,178);
 transform: translate(3px, 3px);
}

.social-span{
  margin-left: 30px;
}

/* ################### Universal ################### */
.bg-primary{
    background-color: rgb(78, 43, 135);
}

.bg-dark{
  background-color: rgba(0, 0, 0, 0.7);
}

.email{
  color: rgb(181, 36, 168);
}
.email:hover{
  color: rgb(218, 74, 205);
}




/* ################### Media Querys ################### */

@media (min-width: 250px){
  .container{
    max-width: 200px;
  }
}

@media (min-width: 375px){
  .container{
    max-width: 320px;
  }
}

@media (min-width: 576px) {
  .container{
    max-width: 500px;
  }
}


@media (min-width: 768px) {
  .container {
    max-width: 680px;
  }

}

@media (min-width: 992px) {
  .container {
    max-width: 920px;
  }
}

@media (max-width: 992px){
  .box{
    width:100%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1150px;
  }
}
