@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root{
  font-size: 16px;
  --primary-purple: #ff4286;
  --secondary-purple: #f4456a;
  --primary-green: #005d57;
  --secondary-green: #007d51;
  --text-grey: #555555;
  --background-grey: #191a1d;
  --background-dark-grey: #101114;
}

*{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

/* ------## Navigation Starts ##------*/

.nav-bar{
  position: fixed;
  background: white;
  width: 100%;
  height: 80px;
  z-index: 99;
}

.nav-bar-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav-bar-personal-name{
  color: black;
  text-decoration: none;
  padding: 20px;
  cursor: pointer;
}

.nav-bar-list{
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-bar-list-item{
  position: relative;
}

.nav-bar-link{
  padding: 10px 5px;
  text-decoration: none;
  color: var(--text-grey);
  cursor: pointer;
}

.nav-bar-link::after{
  content: '';
  position: absolute;
  left: 0;
  top: 24px;
  width: 0%;
  height: 3px;
  background: var(--primary-purple);
  transition: width 0.15s ease-in-out;
}

.nav-bar-link:hover::after{
  width: 100%;
}

.nav-bar-link.active::after{
  width: 100%;
}

.responsive-nav-bar{
  display: block;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.responsive-nav-bar.open{
  left: 0%;
}

/* Menu Burger */
  .menu-btn-container{
    display: flex;
    flex-direction: row;
  }

  .menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    z-index: 999;
    margin-right: 13px;
  }

  .menu-btn-burger{
    width: 20px;
    height: 3px;
    background: var(--text-grey);
    border-radius: 5px;
    transition: all .3s ease-in-out;
  }

  .menu-btn-burger::before,
  .menu-btn-burger::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background: var(--text-grey);
    border-radius: 5px;
    transition: all .3s ease-in-out;
  }

  .menu-btn-burger::before{
    transform: translateY(-6px);
  }

  .menu-btn-burger::after{
    transform: translateY(6px);
  }

      /* Animation for Burger*/

  .menu-btn.open .menu-btn-burger{
    transform: translateX(-20px);
    background: transparent;
  }

  .menu-btn.open .menu-btn-burger::before{
    transform: rotate(45deg) translate(12.50px, -12.50px);
    background: white;
  }

  .menu-btn.open .menu-btn-burger::after{
    transform: rotate(-45deg) translate(12.50px, 12.50px);
    background: white;
  }

/* ------## Navigation End ##------*/
/* ------## Head Image Container Starts ##------*/

.head-description{
  height: 100vh;
}

.head-desc-img{
  filter: brightness(50%) grayscale(200%);
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.centered-name-desc{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  top: calc(50% - 90px);
  left: calc(50% - 175px);
  width: 350px;
  height: 180px;
  filter: brightness(100%);
}

.my-name{
  padding-bottom: 15px;
  font-size: 32px;
}

.my-desc{
  border: 2px solid white;
  width: 100%;
  padding: 15px 40px;
  font-size: 24px;
}

/* ------## Head Image Container End ##------*/
/* ------## About Container ##------*/
.about-container{
  padding: 130px 0 100px 0;
}

/* ------## About Container Ends ##------*/
/* ------## Portfolio Container ##------*/

.portfolio-content-container{
  background: var(--secondary-purple);
  color: white;
}

.portfolio-waves{
  background: white;
  margin-bottom: -5px;
}
.portfolio-waves-out{
  background: var(--secondary-purple);
}

/* Portfolio Item */
.portfolio-item{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  margin-bottom: 50px;
}

.portfolio-item:last-of-type{
  margin-bottom: 0px;
}

.portfolio-item-information{
  padding: 0 20px;
}

.portfolio-item-image{
  height: 350px;
}

.product-image{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portfolio-item-information{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-title-title{
  margin: 0;
}

.product-contribution-title{
  text-decoration: underline;
  font-size: 18px;
  margin: 0;
  margin-top: 10px;
}

.product-tech{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-tech-item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-tech-item .fab, .product-link .fab{
  font-size: 24px;
  padding-right: 10px;
}

.product-tech, .product-link-list{
  margin-top: 10px;
}

.product-link{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  text-decoration: none;
  color: white;
  padding: 15px;
  transition: all 0.1s ease-in-out;
}

.product-link:hover{
  border-color: rgb(201, 208, 213);
  color: rgb(201, 208, 213);
}

.product-link.link-unavailable{
  pointer-events: none;

  background: rgb(201, 208, 213);
  opacity: 0.5;
}
/* Portfolio Item Ends */

/* ------## Portfolio Container Ends ##------*/
/* ------## Technologies Container ##------*/
.technologies-content{
  display: flex;
  justify-content: center;
}

.technologies-cell{
  margin: 10px;
  flex: 1 1 auto;
  border-right: 1px solid var(--text-grey);
  color: var(--text-grey);
}

.technologies-cell:last-of-type{
  border: 0;
}

.tech-cell-title{
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.tech-title-icon{
  color: var(--primary-purple);
  margin: 15px;
  font-size: 34px;
}

.tech-item{
  padding: 3px 0;
}
/* ------## Technologies Container Ends ##------*/
/* ------## Footer Container ##------*/

.footer{
  position: relative;
  background: var(--background-grey);
}

.footer-wave{
  position: relative;
  background: white;
  z-index: 1;
}

.footer-content{
  z-index: 8;
  padding: 100px 0;
  color: white;
}

.footer-box{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-end;
  font-size: 22px;
}

.social-media-item{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: var(--text-grey);
  margin: 10px 0;
}


.social-icons{
  color: var(--primary-purple);
  font-size: 38px;
  margin: 0 10px;
}

.social-link{
  text-decoration: none;
  cursor: pointer;
  color: var(--text-grey);
  transition: color 0.2s ease-in-out;
}


.social-link:hover{
  color: white;
}

.copyright{
  background: var(--background-dark-grey);
}

.copyright-content{
  text-align: center;
  color: var(--text-grey);
  font-size: 18px;
  padding: 50px;
}

/* ------## Footer Container Ends ##------*/
/* ------## Global Starts ##------*/


.container-middle-content{
  width: 1250px;
  margin: auto;
}

.fw-normal{
  font-weight: normal;
}

.fw-500{
  font-weight: 500;
}

.fw-600{
  font-weight: 600;
}

.fw-700{
  font-weight: 700;
}

.fs-20{
  font-size: 20px;
}

.fs-22{
  font-size: 22px;
}

.w50{
  width: 50%;
}

.w33{
  width: 33%;
}

/* No Select class created by User Blowsie https://stackoverflow.com/questions/3779534/how-do-i-disable-text-selection-with-css-or-javascript */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/* No Select Ends */

.cursor-not-allowed{
  cursor: not-allowed;
}

.section-title{
  padding: 20px 0;
  margin: 0;
}

/* ------## Global End ##------*/

@media screen and (min-width: 350px){
  .container-middle-content{
    width: 325px;
  }

  .about-container{
    padding: 80px 0 100px 0;
  }

  .portfolio-item{
    flex-direction: column;
  }

  .w50{
    width:100%;
  }

  .w33{
    width:100%;
  }

  .portfolio-item-information{
    padding: 20px 0px;
    height: 400px;
  }

  .portfolio-item-image{
    height: 250px;
  }

  .technologies-content{
    flex-direction: column;
  }

  .technologies-cell{
    border-right: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--text-grey);
  }

  .technologies-cell:last-of-type{
    border: 0;
  }

  .footer-box{
    font-size: 16px;
  }
}

@media screen and (min-width: 600px){
  .container-middle-content{
    width: 550px;
  }
  .footer-box{
    font-size: 22px;
  }
}

@media screen and (min-width: 850px){
  .container-middle-content{
    width: 800px;
  }

  .menu-btn-container{
    display: none;
  }

  .about-container{
    padding: 130px 0 100px 0;
  }

  .portfolio-item-image{
    height: 350px;
  }

  .w33{
    width:33%
  }

  .technologies-content{
    flex-direction: row;
  }

  .technologies-cell{
    border-bottom: 0;
    padding-bottom: 15px;
    border-right: 1px solid var(--text-grey);
  }

  .technologies-cell:last-of-type{
    border: 0;
  }
}

@media screen and (max-width: 850px){
  .responsive-nav-bar{
    position: absolute;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
  }

  .nav-bar-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    height: 100vh;
  }

  .nav-bar-list-item{
    width: 80%;
    text-align: center;
    padding: 0px 0 35px 0;
  }

  .nav-bar-link{
    color: white;
  }

}

@media screen and (min-width: 1100px){
  .container-middle-content{
    width: 1050px;
  }

  .about-container{
    padding: 150px 0 100px 0;
  }

  .portfolio-item{
    flex-direction: row;
  }

  .w50{
    width:50%;
  }

  .w33{
    width:33%
  }

  .portfolio-item-information{
    padding: 0 20px;
    height: 350px;
  }

  .portfolio-item-image{
    height: 350px;
  }
}

@media screen and (min-width: 1300px){
  .container-middle-content{
    width: 1250px;
  }

  .about-container{
    padding: 200px 0 100px 0;
  }
}

/*
@media screen and (min-width: 1980px) {
  :root{
    font-size: 24px;
  }
}

@media screen and (min-width: 3840px) {
  :root{
    font-size: 32px;
  }
}

@media screen and (min-width: 7680px) {
  :root{
    font-size: 48px;
  }
}*/
